<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>By Lemme - Services</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="img/logobylemme.png" width="150" height="100" alt="" loading="lazy"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">BISCAYNE BAY BREWING</a>
                    <a class="dropdown-item" href="#">MING WANG | MISOOK</a>
                    <a class="dropdown-item" href="#">WAREHOUSE ALLAPATTAH</a>
                    <a class="dropdown-item" href="#">BOIA DE RESTAURANT</a>
                    <a class="dropdown-item" href="#">CASACOR 2018</a>
                    <a class="dropdown-item" href="#">UNICO 20° 87°</a>
                    <a class="dropdown-item" href="#">NOBU HOTEL</a>
                    <a class="dropdown-item" href="#">NOBU HOTEL + EDEN ROC HOTEL</a>
                    <a class="dropdown-item" href="#">HARD ROCK HOTEL | LOS CABOS</a>
                    <a class="dropdown-item" href="#">HARD ROCK HOTEL | RIVIERA CANCUN</a>
                    <a class="dropdown-item" href="#">VALTECH</a>
                    <a class="dropdown-item" href="#">APARTMENT | PARIS</a>
                    <a class="dropdown-item" href="#">MIRACLE SPA</a>
                    <a class="dropdown-item" href="#">MECHI INIGUEZ DE HEREDIA</a>
                    <a class="dropdown-item" href="#">MIRAVIDA SOHO</a>
                    <a class="dropdown-item" href="#">APARTMENT | BUENOS AIRES</a>
                    </div>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </nav>
    <div>
        <div>
            <div class="services-container">
                <div class="services__item">
                    <img src="../img/HRLC.jpg" alt="Hard Rock Los Cabos" class="services__img">
                </div>   

                <div class="services__item">
                    <h2 class="services__title">Great Solutions</h2>
                    <ul class="services__p">
                        <li>Consultation, Project Survey and Analysis</li>
                        <li>Conceptual Design</li>
                        <li>Project Planning</li>
                        <li>Design Development</li>
                    </ul>
                </div>

                <div class="services__item">
                    <h2 class="services__title">In-Detailed</h2>
                    <ul class="services__p">
                        <li>Space Planning</li>
                        <li>Lighting Design</li>
                        <li>3D Renderings</li>
                        <li>Graphic Design</li>
                </div>

                <div class="services__item">
                    <img src="../img/HRLC2.jpg" alt="Hard Rock Los Cabos" class="services__img">
                </div>   

                <div class="services__item">
                    <img src="../img/HRLC3.jpg" alt="Hard Rock Los Cabos" class="services__img">
                </div>

                <div class="services__item">
                    <h2 class="services__title">Supervision</h2>
                    <ul class="services__p">
                        <li>Art Advisory & Procuration</li>
                        <li>FF&E / Accessory Specifications & Procurement</li>
                        <li>Delivery & Installation Supervision</li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <div>
        <div class="serv-details">
            <div class="grid-services-container">
                <div class="grid__serv" id="grid__id1">
                    <h3 class="grid__title-serv">Perfect Design</h3>
                    <p class="grid__p-serv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque quis consectetur optio assumenda! Ex incidunt odit aperiam.</p>
                </div>

                <div class="grid__serv" id="grid__id2">
                    <h3 class="grid__title-serv">Carefully Planned</h3>
                    <p class="grid__p-serv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque quis consectetur optio assumenda! Ex incidunt odit aperiam.</p>
                </div>

                <div class="grid__serv" id="grid__id3">
                    <h3 class="grid__title-serv">Smartly Execute</h3>
                    <p class="grid__p-serv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum cumque quis consectetur optio assumenda! Ex incidunt odit aperiam.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div  class="serv-details__block">
            <div>
                <h4 class="serv-subtitle">We also do</h4>
                <h2 class="serv-main-title">Perfect Project Planning</h2>
                <p class="serv__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque impedit cumque sunt eligendi inventore.</p>
                <p class="serv__paragraph">Voluptates, ut voluptate minus repellendus ex veritatis quidem reprehenderit eaque obcaecati autem quasi exercitationem saepe fugiat.</p>
            </div>
            <div>
                <ul class="serv__paragraph">
                    <li>Art Advisory & Procuration</li>
                    <li>FF&E / Accessory Specifications & Procurement</li>
                    <li>Delivery & Installation Supervision</li>
                </ul>
            </div>
        </div>
    </div>
    <div">
        <div class="contact-container">
            <div class="contact__item1">
                <img src="../img/logobylemmep.png" alt="Logo By Lemme" style="height: 300px; width: auto">
            </div>
            <div class="contact__item2">
                <h2 class="contact-title">Way To Contact Us</h2>
                <p class="contact-paragraph">We are available from Monday to Saturday / 10:00 – 18:00</p>
            </div>
            <div class="contact__item3">
                <ul> 
                    <li class="contact-social"><a href="https://es-es.facebook.com/pg/by.lemme.interiors/about/" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="height: 30px;width: 30px;"/></a></li>
                    <li class="contact-social"><a href="https://www.instagram.com/by.lemme/" target="_blank"><img src="../img/instagram.png" alt="Instagram" style="height: 30px;width: 30px;"/></a></li>
                    <li class="contact-social"><a href="https://ar.pinterest.com/paulalemme/" target="_blank"><img src="../img/pinterest.png" alt="Pinterest" style="height: 30px;width: 30px;"/></a></li>
                </ul>
            </div>
            <div class="contact__item4">
                <h2 class="contact-subtitle">Miami, FL</h2>
                <p class="contact-paragraph">+1.305.904.9250​</p>
                <p class="contact-paragraph">info@bylemme.com</p>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <div class="main-footer">
                <ul class="footer-social"> 
                    <li class="social-menu_item"><a href="https://es-es.facebook.com/pg/by.lemme.interiors/about/" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="height: 30px;width: 30px;"/></a></li>
                    <li class="social-menu_item"><a href="https://www.instagram.com/by.lemme/" target="_blank"><img src="../img/instagram.png" alt="Instagram" style="height: 30px;width: 30px;"/></a></li>
                    <li class="social-menu_item"><a href="https://ar.pinterest.com/paulalemme/" target="_blank"><img src="../img/pinterest.png" alt="Pinterest" style="height: 30px;width: 30px;"/></a></li>
                </ul>
                <p class="footer-p">©2020 by Lemme - Interior Design | Creative Development - All right reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>