body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 61, 75);
}

/* Extra small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

.btn-outline-success:hover {
    background-color: rgb(204, 226, 226) !important;
    color: rgb(43, 43, 43) !important
}

.nav-item {
    margin: 15px;
    font-family: 'Raleway', sans-serif;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: rgb(204, 226, 226);
}

.btn {
    background-color: rgb(0, 61, 75);
    color: whitesmoke;
    font-size: 14px;
}

.btn:hover {
    color: rgb(204, 226, 226);
}

.carousel-caption {
    background-color: black;
    filter: opacity(60%);
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 10px;
    color: whitesmoke;
    text-align: center;
}

.services-container {
    background-color: whitesmoke;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: .5px solid rgb(129, 181, 181);
    }

h1 {
    margin-top: 10px;
    padding-top: 20px;
    color: rgb(54, 57, 65);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
    
h2 {
    margin: 20px;
    color: whitesmoke;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h5 {
    color: rgb(0, 61, 75);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h6 {
    color: whitesmoke;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    }

.mb-4, .my-4 {
    margin-bottom: .8rem!important;
    }

.mt-0, .my-0 {
    margin-top: 0!important;
    }

.featurette-container {
    margin: 50px;
    padding: 0px;
    justify-content: center;
}

.featurette__subcontainer p {
    margin-top: 10px;
    color: whitesmoke;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.featurette-divider {
    margin: 50px;
}

.text-muted {
    color: #92a4b4 !important;
    }

.container {
    margin-top: 20px;
}

.container h2 {
    margin-top: 10px;
    color: rgb(28, 35, 48);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.container p {
    margin-top: 10px;
    color: rgb(28, 35, 48);
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.main-title h2 {
    background-color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: rgb(54, 57, 65);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.gallery-container {
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 5px;
    background-color: whitesmoke;
}

.gallery__item {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.gallery__item:nth-child(1) {
    grid-row-start: span 2;
}

.gallery__item:nth-child(5) {
    grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
    grid-column-start: span 2;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: brightness(100%);
    transition: 1s;
}

.gallery__item img:hover {
    filter: brightness(40%);
    transform: scale(1.2);
}

.footer-container {
    padding: 15px;
}

.footer-container p {
    margin-top: 10px;
    color: whitesmoke;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.page-footer {
    margin-top: 60px;
    color: whitesmoke;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.footer-copyright {
    color: whitesmoke;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
}

.footer-copyright a {
    color: rgb(129, 181, 181);
}

.footer-text a {
    color: rgb(129, 181, 181);
    text-align: left;
}

.footer-img {
    margin-top: 10px;
    margin-bottom: 0px;
}

.social-menu_item {
    padding: 3px;
}